{
    "root": true,
    "plugins": ["prettier"],
    "extends": [
        "@nuxtjs/eslint-config-typescript",
        "plugin:prettier/recommended",
        "prettier/@typescript-eslint",
        "prettier",
        "prettier/vue"
    ]
}